﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <img src="~/Template/assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle"
                 width="40">
            <span class="ml-2 d-none d-lg-inline-block">

                <span class="text-dark">@User.Identity.GetUserName()</span> <i data-feather="chevron-down"
                                                            class="svg-icon"></i>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
            <a class="dropdown-item" href="@Url.Action("Index","Manage")">
                <i data-feather="user"
                   class="svg-icon mr-2 ml-1"></i>
                My Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                <i data-feather="power"
                   class="svg-icon mr-2 ml-1"></i>
                Logout
            </a>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
