﻿@using Microsoft.AspNet.Identity.Owin;

@if (User.Identity.IsAuthenticated)
{
    var userManager = Request.GetOwinContext().GetUserManager<ApplicationUserManager>();

    if (User.IsInRole(Pill.Admin.webmvc.Models.Roles.HubAdminRoleName) ||
        User.IsInRole(Pill.Admin.webmvc.Models.Roles.AdminRoleName))
    {
        <ul id="sidebarnav">
            <li class="sidebar-item">
                <a class="sidebar-link sidebar-link" href="@Url.Action("Index","Dashboard")"
                   aria-expanded="false">
                    <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
                </a>
            </li>
            <li class="list-divider"></li>
            <li class="sidebar-item">
                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                   aria-expanded="false">
                    <i data-feather="file-text" class="feather-icon"></i><span class="hide-menu">Главный </span>
                </a>
                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                    @if (User.IsInRole(Pill.Admin.webmvc.Models.Roles.AdminRoleName))
                    {
                        <li class="sidebar-item">
                            <a href="@Url.Action("Index","Users")" class="sidebar-link">
                                <span class="hide-menu">
                                    Админы
                                </span>
                            </a>
                        </li>
                    }
                    <li class="sidebar-item">
                        <a href="@Url.Action("Clients","Dashboard")" class="sidebar-link">
                            <span class="hide-menu">
                                Клиенты
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="@Url.Action("Index","Session")" class="sidebar-link">
                            <span class="hide-menu">
                                Сессии
                            </span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="@Url.Action("Index","Command")" class="sidebar-link">
                            <span class="hide-menu">
                                Запросы
                            </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}

