﻿@model List<Root.CommandViewModel>
@{
    ViewBag.Title = "Запросы partial";
}

<div class="table-responsive">
    <table id="example" class="display" width="100%"></table>
    <table id="clientCommandTable"
           class="table table-hover table-striped table-bordered display no-wrap"
           style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].CommandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CommandQuery)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].SendTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].ExecutedTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Result)
                </th>
            </tr>
        </thead>
    </table>
</div>