﻿@using Pill.Admin.webmvc.Models
@model LoginViewModel
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>POS Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link href="~/Template/Login/dist/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Template/Login/dist/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Template/Login/dist/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Template/Login/dist/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Template/Login/dist/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Template/Login/dist/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link href="~/Template/Login/dist/css/util.css" rel="stylesheet" />
    <link href="~/Template/Login/dist/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-b-160 p-t-50">
                <form class="login100-form validate-form" method="post" action="@Url.Action("Login","Account")">
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-43">
                        Login
                    </span>

                    <div class="wrap-input100 rs1 validate-input" data-validate="Username is required">
                        @Html.TextBoxFor(m => m.SapCode, new { @class= "input100" })
                        <span class="label-input100">Username</span>
                    </div>


                    <div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
                        @Html.PasswordFor(m => m.Password, new { @class= "input100" })
                        <span class="label-input100">Password</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Sign in
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/Template/Login/dist/js/jquery-3.2.1.min.js"></script>
    <script src="~/Template/Login/dist/js/loginmain.js"></script>

</body>
</html>