﻿body {
    padding-top: 50px;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    height: 100%;
    margin: 0 auto -60px;
}

.footer, .push {
    height: 60px; /* .push must be the same height as .footer */
}

footer {
    /*position: absolute;
    bottom: 0;
    width: 100%;*/
    /* Set the fixed height of the footer here */
    /*height: 60px;
    */
    background-color: #f5f5f5;
    height: 60px;
}

    footer p {
        padding-left: 15px;
        padding-top: 20px;
    }

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* table header style */
.table-striped thead tr {
    background-color: #d8d7d7;
}

/* selected row style */
.table-striped tbody .highlight td {
    background-color: #b5b5b5;
}

/* Carousel */
.help-block span {
    font-size: 10px;
}

th.fsCol-50 {
    width: 50px;
}

th.fsCol-100 {
    width: 100px;
}

th.fsCol-75 {
    width: 75px;
    table-layout: fixed;
}

/*table {
    table-layout: fixed;
}

th {
    overflow: hidden;
}

td {
    overflow: hidden;
}*/

.state-icon {
    left: -5px;
}

.list-group-item {
    padding-top: 1px;
    padding-bottom: 1px;
}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

.fixed-table-footer {
    background-color: gray;
    font-weight: bold;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 0;
}

th.h6 {
    width: max-content !important;
    margin-left: 15px;
}

h6 {
    margin-left: 15px;
    width: max-content !important;
}

hr {
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}

h3 {
    margin-top: 10px !important;
}

thead th {
    position: sticky !important;
    top: 0 !important;
}
tbody {
    overflow: scroll !important;
}
