﻿@model List<Root.SessionViewModel>
@{
    ViewBag.Title = "Сессии partial";
}

<div class="table-responsive">
    <table id="example" class="display" width="100%"></table>
    <table id="clientSessionTable"
               class="table table-hover table-striped table-bordered display no-wrap"
               style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].RegisteredTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].DisconnectTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].SessionLenght)
                    </th>
                </tr>
            </thead>
        </table>
</div>
