﻿@model IEnumerable<Pill.Admin.webmvc.Models.ApplicationUser>

@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей</h2>
@*<p class="text-success">@ViewBag.StatusMessage</p>*@

<p>
    @Html.ActionLink("Добавить пользователя", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SapCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a>
                        @Html.ActionLink("Изменить", "Edit", new { id = item.Id })
                    </a>
                    <a>
                        @Html.ActionLink("Сменить пароль", "ChangePassword", new { Id = item.Id })
                    </a>
                    <a>
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
