﻿@model Root.viewModels.client.ClientDetailViewModel
@{
    ViewBag.Title = "Информация о клиенте";
    var sessions = Model.Sessions;
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <ul class="col-lg-6 col-md-12 list-style-none mb-0" style="display: inline-block;">
                    <li>
                        @Html.LabelFor(model => model.Client.SapCode, new { @class = "text-muted" })
                        <span class="text-dark font-weight-medium">
                            @((String.IsNullOrEmpty(Model?.Client?.SapCode)) ? "" : Model.Client.SapCode)
                        </span>
                    </li>
                    <li class="mt-3">
                        @Html.LabelFor(model => model.Client.IsOnline, new { @class = "text-muted" })
                        <span class="text-dark font-weight-medium">@((Model?.Client?.IsOnline == true) ? "On" : "Off")</span>
                    </li>

                </ul>
                <ul class="col-lg-6 col-md-12 list-style-none mb-0 float-right" style="display: inline-block;">
                    <li class="mt-3">
                        @Html.LabelFor(model => model.Client.LastSeen, new { @class = "text-muted" })
                        <span class="text-dark font-weight-medium">
                            @((String.IsNullOrEmpty(Model?.Client?.LastSeenStr)) ? "" : Model.Client.LastSeenStr)
                        </span>
                    </li>
                    <li class="mt-3">
                        @Html.LabelFor(model => model.Client.RegisteredTime, new { @class = "text-muted" })
                        <span class="text-dark font-weight-medium">
                            @((String.IsNullOrEmpty(Model?.Client?.RegisteredTimeStr)) ? "" : Model.Client.RegisteredTimeStr)
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4">
                    <h4 class="card-title">Запросы</h4>
                </div>
                @{ Html.RenderPartial("~/Views/Command/_ClientCommandPartial.cshtml", Model.Commands); }
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4">
                    <h4 class="card-title">Сессии</h4>
                </div>
                @{ Html.RenderPartial("~/Views/Session/_ClientSessionPartial.cshtml", Model.Sessions); }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.21/js/dataTables.select.min.js"></script>

    <script type="text/javascript">
        var sessionTable, commandTable;
        var sessionArray = @Html.Raw(Json.Encode(Model.Sessions));
        var commandArray = @Html.Raw(Json.Encode(Model.Commands));

        console.log(sessionArray);
        $(document).ready(function () {
            sessionTable = $('#clientSessionTable').DataTable(
                {
                    data: sessionArray,
                    columns: [
                        { data: "RegisteredTimeStr" },
                        { data: "DisconnectTimeStr" },
                        { data: "SessionLenght" }
                    ],
                    "order": [[1, "desc"]],
                    "aLengthMenu": [[5, 10, 25, 50, 75, -1], [5, 10, 25, 50, 75, "All"]],
                    "iDisplayLength": 5
                });
            commandTable = $('#clientCommandTable').DataTable(
                {
                    data: commandArray,
                    columns: [
                        { data: "CommandName" },
                        { data: "StatusStr" },
                        { data: "CommandQuery" },
                        { data: "SendTimeStr" },
                        { data: "ExecutedTimeStr" },
                        { data: "Result" }
                    ],
                    "order": [[3, "desc"]],
                    "aLengthMenu": [[5, 10, 25, 50, 75, -1], [5, 10, 25, 50, 75, "All"]],
                    "iDisplayLength": 5
                });
        });
    </script>
}