﻿@model IEnumerable<Root.ClientViewModel>

@{
    var message = ViewBag.ResultMessage;
    ViewBag.Title = "Клиенты";
}

<h2>@ViewBag.Title</h2>
<button type="button" class="btn waves-effect waves-light btn-rounded btn-success" onclick="ping()">Ping</button>
<div class="card-group ">
    <div class="card border-right  users-card">
        <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <div class="d-inline-flex align-items-center">
                        <h2 class="text-info mb-1 font-weight-medium" id="onlineClientsCount">0</h2>
                    </div>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total</h6>
                </div>
                <div class="ml-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted"><i data-feather="users"></i></span>
                </div>
            </div>
            <a href="#" class="stretched-link"></a>
        </div>
    </div>
    <div class="card border-right users-card">
        <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <div class="d-inline-flex align-items-center">
                        <h2 class="text-success mb-1 font-weight-medium">50</h2>
                        <span class="badge bg-success font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block"></span>
                    </div>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Online</h6>
                </div>
                <div class="ml-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted"><i data-feather="wifi"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-right users-card">
        <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <div class="d-inline-flex align-items-center">
                        <h2 class="text-danger mb-1 font-weight-medium">250</h2>
                        <span class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block"></span>
                    </div>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Offline</h6>
                </div>
                <div class="ml-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted"><i data-feather="wifi-off"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="card users-card">
        <div class="card-body">
            <div class="d-flex d-lg-flex d-md-block align-items-center">
                <div>
                    <h2 class="text-warning mb-1 font-weight-medium">864</h2>
                    <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Total Queries</h6>
                </div>
                <div class="ml-auto mt-md-3 mt-lg-0">
                    <span class="opacity-7 text-muted"><i data-feather="file-text"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <a class="btn waves-effect waves-light btn-rounded btn-light btnMargin" id="btnRefresh"><i data-feather="refresh-ccw"></i></a>
                    <a class="btn waves-effect waves-light btn-rounded btn-light btnMargin" id="btnSendMessage"><i data-feather="send"></i>Отправить запрос</a>
                    <div class="modal fade" id="clientModal" role="dialog"></div>
                    <div class="modal fade" id="newQueryModal" tabindex="-1" role="dialog"
                         data-backdrop="static" data-keyboard="false"
                         aria-labelledby="fullWidthModalLabel" aria-hidden="true"></div>

                    <table id="clientTable"
                           class="table table-hover table-striped table-bordered display no-wrap"
                           style="width:100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>#</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConnectionId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SapCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SapCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsOnline)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RegisteredTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastSeen)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PingTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SessionLenght)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CommandsCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SessionCount)
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btnMargin {
        margin: 5px 0 10px 0
    }
</style>

@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/Scripts/notify.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.21/js/dataTables.select.min.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.21/js/dataTables.checkboxes.min.js"></script>

    <script type="text/javascript">

        // --- SignalR Hub begin ---
        // -------------------------------------------------------------------------
        var connection = $.hubConnection();
        var hubProxy = connection.createHubProxy('HubConnectionAPI');
        var notificationCount = 0;
        hubProxy.on('adminOnConnected', function (clientSapCode) {
            //if (notificationCount > 10) {
            //    $('.notifyjs-corner').empty();
            //    notificationCount = 0;
            //}
            //console.log('Connected-' + clientSapCode);
            //$.notify(clientSapCode + " Подключено", 'success');
            //notificationCount += 1;
            //refreshTable();
        });
        hubProxy.on('adminOnDisconnected', function (clientSapCode) {
            //console.log(clientSapCode + '-Disconnected');
            //refreshTable();
        });
        hubProxy.on('onlineClients', function () {
            refreshTable();
        });
        hubProxy.on('adminOnQueryResultReceived', function (command) {
            onQueryResultReceived(command);
        });
        connection.start().done(function () {
            //hubProxy.invoke('Ping');
        });
        // -------------------------------------------------------------------------
        // --- SignalR Hub --- end

        function ping() {
            hubProxy.invoke('InternalPong');
        }

        var Popup, dataTable;
        $(document).ready(function () {
            var message = '@message';
            if (message !== "") {
                $.notify(message, 'success');
                @{message = null; }
                window.history.pushState("", "", getPathFromUrl(window.location.href));
            }

            function getPathFromUrl(url) {
                return url.split(/[?#]/)[0];
            }

            dataTable = $('#clientTable').DataTable(
                {
                    "ajax": {
                        "url": "/Dashboard/GetClients",
                        "type": "GET",
                        "dataType": "json"
                    },
                    "columns": [
                        {
                            sortable: false,
                            render: function (data, type, row, meta) {
                                return [
                                    '<a class="like" href="ClientDetails?sapCode=' + row.SapCode + '" title="Посмотреть">',
                                    '<i class="fas fa-eye"></i>  ',
                                    '</a> ',
                                ].join('');
                            }
                        },
                        {
                            sortable: false,
                            render: function (data, type, row, meta) {
                                return [
                                    '<a class="like" href="#" id="btnNewQuery" title="Новый запрос">',
                                    '<i class="far fa-file-alt"></i>  ',
                                    '</a> ',
                                ].join('');
                            }
                        },
                        { "data": "ConnectionId" },
                        { "data": "SapCode" },
                        { "data": "SapCode" },
                        { "data": "IsOnline" },
                        { "data": "RegisteredTimeStr" },
                        { "data": "LastSeenStr" },
                        { "data": "PingTimeStr" },
                        { "data": "SessionLenght" },
                        { "data": "CommandsCount"},
                        { "data": "SessionCount" }
                    ],
                    rowId: 'SapCode',
                    'columnDefs': [
                        {
                            targets: 2,
                            visible: false
                        },
                        {
                            'targets': 3,
                            'checkboxes': {
                                'selectRow': true,
                            }
                        }
                    ],
                    'select': {
                        'style': 'multi'
                    },
                    'order': [[5, 'desc']]
                });

            $("#btnSendMessage").click(function () {
                var rowsSelected = dataTable.column(3).checkboxes.selected();
                var sapCodes = [];
                $.each(rowsSelected, function (index, sapCode) {
                    sapCodes.push(sapCode);
                });
                if (sapCodes.length <= 0) {
                    $.notify('Пожалуйста, выберите пользователя', { position: "top center" });
                    return;
                }

                $.get('/Dashboard/SendMessage', { sapCodes: JSON.stringify(sapCodes) }, function (data) {
                    $("#clientModal").html(data);
                    $("#clientModal").modal('show');
                });
            });

        });

        $('#btnRefresh').click(function () {
            refreshTable();
        });

        //onClick btnNewQuery
        $(document).on("click", "#btnNewQuery", function () {
            var obj = dataTable.row($(this).closest('tr')).data();

            $.get('/Dashboard/ClientNewQuery', { sapCode: obj.SapCode }, function (data) {
                $("#newQueryModal").html(data);
                $("#newQueryModal").modal('show');
            });
        });

        function refreshTable() {
            dataTable.ajax.reload();
            document.getElementById('onlineClientsCount').innerHTML = dataTable.data().count();
        }

        function sendRealtimeQuery(sapcode, query) {
            hubProxy.invoke('SendRealTimeQuery', sapcode, query);
        }

        var res;
        function onQueryResultReceived(command) {
            if ($.fn.DataTable.isDataTable('#sqlResultTable')) {
                $('#sqlResultTable').DataTable().destroy();
                $('#sqlResultTable').empty();
            }

            if (command.Status != '200') {
                alert(command.Result);
                return;
            }

            res = JSON.parse(command.Result);
            if (document.getElementById('sqlResultTable')) {
                var Columns = [];
                var TableHeader = "<thead><tr>";
                $.each(res[0], function (key, value) {
                    Columns.push({ "data": key })
                    TableHeader += "<th>" + key + "</th>"
                });
                TableHeader += "</thead></tr>";
                $("#sqlResultTable").append(TableHeader);

                resultTable = $('#sqlResultTable').DataTable({
                    data: res,
                    columns: Columns,
                    scrollY: 200,
                    scrollX: true
                });
            }
        }

    </script>
}
