﻿@model Root.RealTimeQueryViewModel

<div class="modal-dialog modal-full-width">
    <div class="modal-content">
        <form id="queryForm">
            <div class="modal-header">
                <h4 class="modal-title" id="fullWidthModalLabel">Новый запрос</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Query)
                    @Html.TextAreaFor(m => m.Query, new { @id = "query", @class = "form-control", @style = "min-width:100%; max-width:100%" })
                    @Html.ValidationMessageFor(m => m.Query, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(m => m.SapCode, new { @id = "sapCode", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SapCode, "", new { @class = "text-danger" })
                </div>
                <table id="sqlResultTable"
                       class="table table-hover table-striped table-bordered display no-wrap"
                       style="width:100%"></table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" id="btnSendQuery" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    var resultTable;
    $(document).ready(function () {
        $("#btnSendQuery").click(function () {
            var sapCode = document.getElementById('sapCode').value;
            var query = document.getElementById('query').value;

            eval(sendRealtimeQuery(sapCode, query));
        });

    })


</script>
