﻿@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "Dashboard";
}

<h2>@ViewBag.Title</h2>
@if (User.Identity.IsAuthenticated)
{
    <div class="card-group ">
        @if (User.IsInRole(Pill.Admin.webmvc.Models.Roles.AdminRoleName))
        {
            <div class="card border-right  users-card">
                <div class="card-body card-height">
                    <div class="d-flex d-lg-flex d-md-block align-items-center">
                        <div>
                            <div class="d-inline-flex align-items-center">
                                <h2 class="text-info mb-1 font-weight-medium" id="onlineClientsCount">Admins</h2>
                            </div>
                        </div>
                        <div class="ml-auto mt-md-3 mt-lg-0">
                            <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                        </div>
                    </div>
                    <a href="@Url.Action("Index","Users")" class="stretched-link"></a>
                </div>
            </div>
        }

        <div class="card border-right users-card">
            <div class="card-body card-height">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-info mb-1 font-weight-medium" id="onlineClientsCount">Clients</h2>
                        </div>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="users"></i></span>
                    </div>
                </div>
                <a href="@Url.Action("Clients","Dashboard")" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card border-right users-card">
            <div class="card-body card-height">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-info mb-1 font-weight-medium" id="onlineClientsCount">Commands</h2>
                        </div>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="file-text"></i></span>
                    </div>
                </div>
                <a href="@Url.Action("Index","Command")" class="stretched-link"></a>
            </div>
        </div>
        <div class="card border-right users-card">
            <div class="card-body card-height">
                <div class="d-flex d-lg-flex d-md-block align-items-center">
                    <div>
                        <div class="d-inline-flex align-items-center">
                            <h2 class="text-info mb-1 font-weight-medium" id="onlineClientsCount">Sessions</h2>
                        </div>
                    </div>
                    <div class="ml-auto mt-md-3 mt-lg-0">
                        <span class="opacity-7 text-muted"><i data-feather="layers"></i></span>
                    </div>
                </div>
                <a href="@Url.Action("Index","Session")" class="stretched-link"></a>
            </div>
        </div>
    </div>
}

<style>
    .card-height {
        height: 150px;
    }
</style>


