﻿@model Root.CommandViewModel

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("SendMessage", "Dashboard", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Диалоговое окно</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.CommandName)
                        @Html.TextBoxFor(m => m.CommandName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CommandName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CommandQuery)
                        @Html.TextAreaFor(m => m.CommandQuery, new { @id="queryCommand", @class = "form-control", @style = "min-width:100%; max-width:100%" })
                        @Html.ValidationMessageFor(m => m.CommandQuery, "", new { @class = "text-danger" })
                    </div><div class="form-group">
                        @Html.HiddenFor(m => m.SapCodes, new { @class = "form-control" })
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="btnCancel" type="button" class="btn btn-light"
                            data-dismiss="modal">
                        Отмена
                    </button>
                    <button id="btnSend" type="submit" class="btn btn-primary">Отправить</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

<script src="~/Scripts/notify.js"></script>
<script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


    $(document).ready(function () {
        $("#btnSend").click(function () {
            $.ajax({
                success: function () {
                    $("#clientModal").modal("hide");
                }
            })
        })
    })
</script>
